<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- 타임리프 문법 사용 -->
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>

<body>
  <div class="layout">
    <table>
      <thead>
        <tr>
          <th>글 번호</th>
          <th>제목</th>
       </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${list}"> <!-- each 반목문, list에서 board가 없어질 때까지 반복한다. -->
          <td th:text="${board.id}">1</td> <!--id를 넣는다 -->
          <td>
            <!-- 제목을 누르면 아래 링크로 연결되도록 한다. -->
            <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}">제목입니다.</a>
            <!-- ?id= 형식 -->
          </td>
        </tr>
      </tbody>

    </table>
    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
      <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a> <!-- 다르면 범위에 맞게 페이지 선택 드러내기 -->
      <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong> <!-- 해당 페이지 빨간색 강조 -->
    </th:block>
    <form th:action="@{/board/list}" method="get">
      <input type="text" name="searchKeyword">
      <button type="submit">검색</button>
      <button type="button" onclick="location.href='/board/write' ">글 작성</button>
    </form>

  </div>

</body>
</html>